html,body {
    height: 100%;
    margin: 0px;
}

* {
    color: #fff;
    background-color: #1f1e1e;
    font-family: Arial, Helvetica, sans-serif;
}
#root {
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
}

#header,#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 8px;
}

#header {
    border-bottom: 1px solid grey;
}
#footer {
    border-top: 1px solid grey;
}
#main {
    flex: 1;
    display: flex;
    justify-content: center;
    
}

.task-list-head,.task-list-body {
    display: flex;
    align-items: center;

}

button {
    background-color: rgb(14, 139, 211);
    border: none;
    border-radius: 5px;
}

button:active {
    transform: translateY(1px);
}

.btn-add-task {
    padding: 10px 15px 10px 15px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

button:hover {
        background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
        cursor: pointer;
}

.task-list-head {
    justify-content: center;
    position: relative;
}

.task-list-body {
    padding: 10px 25px;
}

#task-list {
    flex: 1;
}

table {
    background-color: rgba(128, 128, 128, 0.5);
    flex: 1;
    border: 2px solid white;
    border-collapse: collapse;
    margin: 20px 0;
}

thead,tbody,tr,th,td {
    background-color: inherit;
}

thead tr {
    border-bottom: 2px solid darkgrey;
}
tr {
    text-align: center;
}

th,td {
    flex: 1;
    text-align: center;
}

th,tr,td {
    padding: 10px 0px ;
}

tbody td {
    border-right: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
}

