html,body {
    height: 100%;
    margin: 0px;
}

* {
    color: #fff;
    background-color: #1f1e1e;
    font-family: Arial, Helvetica, sans-serif;
}
#root {
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
}

#header,#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 8px;
}

#header {
    border-bottom: 1px solid grey;
}
#footer {
    border-top: 1px solid grey;
}
#main {
    flex: 1;
    display: flex;
    justify-content: center;
    
}

.task-list-head,.task-list-body {
    display: flex;
    align-items: center;

}

button {
    background-color: rgb(14, 139, 211);
    border: none;
    border-radius: 5px;
}

button:active {
    transform: translateY(1px);
}

.btn-undo {
    position: absolute;
    padding: 10px 15px;
    right: 72px;
    bottom: 5px;
}

.btn-add-task {
    padding: 10px 15px 10px 15px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

button:hover {
        background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
        cursor: pointer;
}

.task-list-head {
    justify-content: center;
    position: relative;
}

.task-list-body {
    padding: 10px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#task-list {
    flex: 1;
}

table {
    background-color: rgba(128, 128, 128, 0.5);
    border: 2px solid white;
    border-collapse: collapse;
    margin: 20px 0;
    min-width: 0;
    table-layout: fixed; /*added to prevent long task name from breaking formatting*/
    max-width: 1300px;
    align-self: center;
    height: 100%;
    width: 100%;
}

thead,tbody,tr,th,td {
    background-color: inherit;
}

thead tr {
    border-bottom: 2px solid darkgrey;
}
tr {
    text-align: center;
}

th,td {
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 250px;
}

th,tr,td {
    padding: 10px 0px ;
}

tbody td {
    border-right: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
}

.backdrop {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
}

.task-input-window {
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #1f1e1e;
    max-height: 425px;
    max-width: 600px;
    min-width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 40vh;
    width: 60vw;
    min-height: auto;
}

.task-input-window input {
    box-sizing: border-box;
    border: 1.5px solid transparent;
    height: 10%;
    border: none;
    background-color: darkslategray;
    margin: 20px;
    border-radius: 5px;
    transition: border 0.3s ease-in;
}

.task-input-window *{
    background-color: darkslategray;
}
.task-input-window input:hover,input:focus,select:hover,select:focus {
    outline-style: none;
    border: 1.5px solid rgb(14, 139, 211);
}

.task-input-window div {
    background-color: inherit;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.input-btn-exit {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    height: 10%;
    padding: 0px 10px;
}

#input-btn-add {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 15px 20px;
    background-color: rgb(14, 139, 211);
}

select {
    box-sizing: border-box;
    border: 1.5px solid transparent;
    display: block;
    margin: 10px;
    height: 30px;
    width:100px;
    border: none;
    border-radius: 3px;
    transition: border 0.3s ease-in;
}